
.vscode
### Django ###
*.log
*.pot
*.pyc
*.png
*.ico
__pycache__/
/supersizeme/__pycache__/
/backend/__pycache__/
/Lib
/Scripts
/supersizeme/supersizeme_react/
pyvenv.cfg

# environment
.venv
venv/

db.sqlite3